<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | NAGL</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="icon" type="image/x-icon" href="{{ '/assets/imgages/logo_nagl_nobg.png' | relative_url }}">
</head>
<body>

    <nav>
        <a href="{{ '/' | relative_url }}" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
        <div class="logo-container">
            <div class="logo-circle">
                <img src="{{ '/assets/images/logo_nagl_nobg.png' | relative_url }}" alt="NAGL Logo" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
            </div>
            <div class="logo-text">NORTH ADRIATIC GO LEAGUE</div>
        </div>
        </a>
        <ul>
            <li><a href="{{ '/league/' | relative_url }}">League</a></li>
            <li><a href="{{ '/map/' | relative_url }}">Map</a></li>
            <li><a href="{{ '/events/' | relative_url }}">Events</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
        </ul>
    </nav>

    {{ content }}

    <footer>
        Friuli • Primórska • Istra
    </footer>

</body>
</html>
